body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 100px;
    overflow: hidden;
}

h1 {
    font-size: 28px;
    transition: 0.5s;
}

.container {
    position: relative;
    width: 100%;
    height: 300px;
}

.btn {
    position: absolute;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#yesBtn {
    left: 40%;
    background-color: green;
    color: white;
    transition: all 0.5s ease;
}

#noBtn {
    left: 55%;
    background-color: red;
    color: white;
    transition: all 0.5s ease;
}

#finalMessage {
    font-size: 40px;
    display: none;
    color: red;
}

#credit {
    position: fixed;
    bottom: 10px;
    right: 15px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    z-index: 1000;
}
